body {
  
    background-color: rgb(59, 59, 59);
    
  }
  /*.auto-grid{
        --auto-grid-min-size: 16rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
        gap: 3rem;
        list-style-type: none;
  }*/
  .grid-container{
      display: grid;
      grid-template-columns: repeat(8
      , 1fr);
      grid-template-rows: repeat(8, 1fr);
      gap: 5px;
      
  }
.navbar{
    
    background-color: black;
    display: grid;
    justify-content: left;
    grid-column-start: 2;
    grid-column-end: 6;
    
  }
 
  .navbar--links{
     
    background-color:none;
   display: inline;
    padding: 0px 10px;
  
    list-style-type: none;
  }
  
  a:visited{
      color: red;
  }
  a:hover{
    background-color: grey;
}
a:active{
    color: blue;
}
