
hr{
  size: 0.3135rem;
  
}

body, .row, .my-4, .navbar, .navbar-expand-lg, .navbar-light, .bg-light{
background-color: rgb(247, 239, 239);
}

.introduktion{
font-family: open sans-serif;
font-size: 1.5rem;
}


/*@media (min-width: 992px) {
  .animate {
    animation-duration: 0.9s;
    -webkit-animation-duration: 0.2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}*/





.random {
  background-color: rgb(247, 239, 239);
  padding: 5px;

  max-width: 1200px; /* anger max bredden som den ska ha.*/
  margin: auto; /* margin sattes på auto så den får bestämma storleken på egen hand.*/
}
/* det här vad en id. ville ha minst 1 i koden. Den kontrollerar utseendet på formuläter.*/
#kontakt {

  /*border: 4px solid;
  border-color: black;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* det här ändrar utseendet på
  texten, fonten som används.*/
  font-size: 12px; /* storleken på fonten/texten.*/
}